@using WebApplicationTASK14.Models
@model Slide

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic form elements</h4>
            <p class="card-description">
                Basic form elements
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Image</label>
                    <input asp-for="Photo"  class="form-control" id="exampleInputName1" placeholder="Name">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Title</label>
                    <input asp-for="Title"  class="form-control" id="exampleInputEmail3" placeholder="Email">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Discount</label>
                    <input asp-for="Discount"  class="form-control" id="exampleInputPassword4" placeholder="Password">
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Order</label>
                    <input asp-for="Order"  class="form-control" id="exampleInputCity1" placeholder="Location">
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Description</label>
                    <textarea asp-for="Description" class="form-control" id="exampleTextarea1" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>